.image-next-footer {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 70vh;
	position: relative;
}
.next-footer-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.btn-cus {
	background-color: transparent!important;
	border-radius: 3px;
	border: solid 2px white!important;
	font-size: 16px;
	font-weight: 600!important;
	margin-top: 20px;
}
.btn-cus:hover {
	background-color: transparent!important;
	border-radius: 3px;
	border: solid 2px white!important;
	font-size: 16px;
	font-weight: 2!important;
	outline: none;
	border: solid 2px gray!important;
	font-weight: 600!important;
}
@media (min-width: 768px){
	.image-next-footer {
		height: 50vh;
	}
}
@media (max-width: 556px){
	.image-next-footer {
		height: 80vh;
	}
	.btn-cus {
		margin-top: 5px;
	}
}