body {
	font-family: "Helvetica", sans-serif;
	color: white;
	font-size: 13px;
	box-sizing: border-box;
}
.row-cus {
	display: flex;
	flex-direction: row;
	flex: auto;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	margin: 0px 100px;
}
.customer-title h4 {
	font-size: 16px;
}
.customer-title p{
	font-size: 13px;
}
.container-fluid {
	justify-content: center;
	align-items: center;
	background: #1b1b1b;
	color: white;
}
.newsletter-container{
	display: flex;
	flex-direction:column;
	align-items: flex-start;
	padding: 0.5rem;
	margin-left: 3rem;
}
.customer-container{

}
.newsletter-title{
	text-align: left;
	margin: 0;
	padding: 0;
	display: block;
	color: white;
}
.submit-form form {
	width: 250px;
}
.submit-form input {
	display: block;
	padding: 1rem;
	margin: 0.1rem 0;
	color: white;
	background: #1b1b1b;
	border: 2px solid white;
}
.submit-form input::placeholder {
	margin: : 0.1rem;
    color: #cfcdc1;
    opacity: 1;
}
.submit-form input:focus {
	border:2px solid #aaa1a1;
	box-shadow: none;
	background: #1b1b1b;
}
.submit-form button {
	display: block;
	padding: 0.5rem 1.5rem;
	margin: 0.5rem 0;
	float: left;
	color: white;
}
.customer-option{
	padding: 0;
	margin: 0;
}
.option-list {
	list-style: none;
	padding: 0;
	font-size: 13px;
	color: white;
	line-height: 1.7;
}
.option-list  a{
	color: white;
	text-decoration: none;
	outline: none;

}
.option-list  a:hover{
	color: white;
	text-decoration: none;
	outline: none;
}
.span-1 {
	margin: 0;
	width: 20px;
	height: 20px;
	
}
.span-2 {
	margin-left: 1.2rem;
	text-align: left;
}
.bottom-list  li{
	margin-left: 1.5rem;
	display: inline;
}
.bottom-list  li span{
	color: #999;
}
.footer-bottom{
	color: #999;
	text-align: center;
}
.cus-list {
	margin-top: 20px;
}
@media (max-width: 767px){
	.row-cus {
		margin: 0px;
	}
	.submit-form{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 10px 0px;
	}
	.submit-form input {
		
		padding: 0px 5px;
		margin: 0;
		width: 60%;
	}
	.submit-form input::placeholder  {
		
		font-size: 12px;
	}
	.submit-form button{
		
		padding: 0px 5px;
		margin: 0;
}
}
@media (min-width: 768px){
	.row-cus {
		margin: 0px;
	}
	.submit-form input {
		width: 100%;
	}
	.submit-form input::placeholder  {
		
		font-size: 13px;
}
@media (min-width: 1300px){
	.row-cus {
		margin: 0px 10px;
	}
	.submit-form input {
		width: 100%;
	}
}