section
{
  background:yellow;
}
.banner
{
  background-image:url(https://demo.kallyas.net/ares-furniture-interior-design/wp-content/uploads/sites/3/revslider/homepage-slider/slide1.jpg);
  min-height:500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .row
{
  text-align:center;
  margin-top:50px;
}
.banner h1
{
  color:white;
}



/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background:transparent;
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    opacity: 0.5;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black!important;
    height: 60px;
    opacity: 1;
    transition: background-color .5s ease 0s;
}
.title-nav{
  align-items: center;
  justify-content: center;
  color: white;
}
ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  body
  {
    background:red;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
}



